<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
  <title>Python Koans</title>
  <link rel="stylesheet" href="stylesheets/main.css" type="text/css">
</head>
<body>
<div id="maincontainer">

<div id="contentwrapper">
<div id="maincolumn">
<div class="innertube">
<h1>Python Koans</h1>
<p>Python Koans is a port of Edgecase's "Ruby Koans".</p>
<p>Python Koans is an interactive tutorial for learning Python by making
tests pass.</p>
<p>Most tests are 'fixed' by filling the missing parts of assert
functions. Eg:</p>
<p><code>self.assertEqual(__, 1+2)</code></p>
<p>which can be fixed by replacing the __ part with the appropriate
code:</p>
<p><code>self.assertEqual(3, 1+2)</code></p>
<p>Occasionally you will encounter some failing tests that are already
filled out. In these cases you will need to finish implementing some
code to progress. For example, there is an exercise for writing some
code that will tell you if a triangle is equilateral, isosceles or
scalene.</p>
<p>As well as being a great way to learn some Python, it is also a good
way to get a taste of Test Driven Development (TDD).</p>
</div></div></div>

</div>
</body>
</html>
